* {
    box-sizing: border-box;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    header {
        background-image: url('IMG/calaguas-pic01.jpg');
        background-size: cover;
        background-position: center;
        padding: 25px;
        text-align: center;
        color: white;
        font-size: 30px;
    }
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 12px;
        border-radius: 10px;
        font-size: 18px;
    }
    #myBtn img {
        width: 20px;
    }
    #myBtn:hover {
        background-color: #555;
    }
    .postTitle {
        font-size: 15pt;
        text-align: center;
    }
    nav {
        float: center;
        color: white;
    }
    nav ul {
        list-style-type: none;
        margin: 5px;
        padding: 0;
    }
    nav ul li {
        font-size: 18px;
        display: block;
        margin-left: 10px;
        padding: 12px;
    }
    header a {
        text-decoration: none;
        color: white;
        padding: 8px 12px;
        border: 1px solid white;
        border-radius: 5px;
    }
    section h2 {
        text-align: center;
    }
    section p {
        text-align: justify;
        line-height: 1.5;
    }
    section ul li {
        line-height: 2.5;
    }
    section {
        width: 70%;
        float: left;
        padding: 10px;
        margin-left: 20px;
    }
    section a {
        color: red;
    }
    #section6 p {
        text-align: center;
    }
    #section6 img {
        width: 60px;
    }
    .contacts {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .contacts a {
        padding: 2px;
    }
    aside {
        width: 25%;
        float: right;
        padding: 10px;
        position: sticky;
        bottom: 0;
        text-align: center;
        font-size: smaller;
        line-height: 1.5;
    }
    aside h2 {
        padding: 8px 12px;
        border: 1px solid black;
        border-radius: 5px;
        text-align: center;
        font-weight: normal;
        letter-spacing: 5px;
    }
    aside iframe {
        width: 100%;
        height: 305px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #author {
        width: 100%;
        border-radius: 100%;
    }
    .container {
        display: flex;
        align-items: start;
        gap: 1rem;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
    .grid-item img {
        max-width: 100%;
        height: auto;
    }
    footer {
        display: block;
        background-color: black;
        color: white;
        text-align: center;
        clear: both;
        padding: 25px;
    }
    footer .contacts {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    footer img {
        border: 2px solid white;
        border-radius: 100%;
        width: 60px;
        padding: 0;
    }
    header a:hover {
        background-color: white;
        color: black;
    }
}
